@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}


@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

.box-content{
  display: flex;
  flex-wrap: inline-flex;
  width: 100%;
  padding-bottom:15px;
}

.box-content input{
  height: 40px;
  width: 50%;
  border-radius: 10px;;
  padding: 0 10px;
}
.box-content label{
  height: 40px;
  width: 40%;
  padding: 10px;
  color: #fff;
  vertical-align: center
}

.button-container button{
  width: 100%;
  padding: 15px 0;
  background-image: linear-gradient(to right,blue,skyblue);
  border: none;
  outline: none;
  border-radius: 10px;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  margin: 10px 0;
}

.button-container button:hover{
  cursor: pointer;
  background-image: linear-gradient(to right,skyblue,blue);
}


.currency-input {
  display: flex;
  align-items: center;
}

.currency-input input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
}

.currency-input span {
  width: 5%;
  font-size: 18px;
  margin-left: 5px;
  font-weight: bold;
  color: white
}

.rate-input {
  display: flex;
  align-items: center;
}

.rate-input input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
}

.rate-input span {
  width: 5%;
  font-size: 18px;
  margin-left: 5px;
  font-weight: bold;
  color: white
}

.term-input {
  display: flex;
  align-items: center;
}

.term-input input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
}

.term-input span {
  width: 5%;
  font-size: 18px;
  margin-left: 5px;
  font-weight: bold;
  color: white
}

.result{
  padding-bottom: 10px;
}

.result p{
  text-align: center;
  font-size: 30px
}


.form-container {
  background: rgba(0, 0, 0, 0.6);
  height: 200px;
  width: 300px;
  margin: 0 auto;
  margin-top: calc(50vh - 100px);
  padding: 25px 10px;
  border-radius: 6px;
  box-shadow: 2px 3px 20px 3px #000;
}